* {
  box-sizing: border-box;
}

body {
  font-family: Arial black;
  padding: 10px;
  background-color: black;
 
}

/* Header/Blog Title */
.header {
  
  padding: 50px;
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: clear;

  
  }
 


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: red;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Add a card effect for articles */
.card {
  background-color: Clear;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center; 
}

h1 {
  border: 5px solid white;
  }
  
h2 {
  color: red;
  }

h3 { 
    color: red;
  border: 5 px solid white;
  outline-color: white;
  outline-style: solid;
  outline-width: 4px;
  font-size: 30px;
  width: 500px;
  } 

h4  {
  color: white;
  font-size: 15px;
  font-family: arial black;
  
}  